<div class="footer">
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>© 2019 Template by CAR VIỆT</p>
            </div>
            <div class="f-list2">
                <ul>
                    <li class="active"><a href="about.html">Thông tin</a></li> |
                    <li><a href="delivery.html">Liên hệ</a></li> |
                    <li><a href="delivery.html">Địa chỉ</a></li> |
                    <li><a href="contact.html">Giới thiệu</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
