<div id="fwslider">
    <div class="slider_container">
        <div class="slide">
            <!-- Slide image -->
            <img src="~/Images/banner.jpg" alt="" />
            <!-- /Slide image -->
            <!-- Texts container -->
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <!-- Text title -->
                    <h4 class="title">Car Viet</h4>
                    <!-- /Text title -->
                    <!-- Text description -->
                    <p class="description">Đẳng cấp thế kỷ</p>
                    <!-- /Text description -->
                </div>
            </div>
            <!-- /Texts container -->
        </div>
        <!-- /Duplicate to create more slides -->
        <div class="slide">
            <img src="~/Images/banner1.jpg" alt="" />
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <h4 class="title">Vững bước tiên phong</h4>
                    <p class="description">Thách thức giới hạn</p>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="~/Images/banner2.jpg" alt="" />
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <h4 class="title">Phiên bản siêu đỉnh</h4>
                    <p class="description">Thăng hoa cùng đẳng cấp</p>
                </div>
            </div>
        </div>
        <!--/slide -->
    </div>
    <div class="timers"></div>
    <div class="slidePrev"><span></span></div>
    <div class="slideNext"><span></span></div>
</div>
