@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - Login</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark" ng-app="CarShopApp">
    <div class="container" ng-controller="Admin_Login">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Đăng nhập</div>
            <div class="card-body">
                <form novalidate name="f1" ng-submit="DangNhap(nguoiDung)">
                    <div style="color:red">{{message}}</div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="tenDangNhap" class="form-control" placeholder="Tên đăng nhập" required="required" autofocus="autofocus" ng-model="nguoiDung.TenNguoiDung">
                            <label for="tenDangNhap">Tên đăng nhập</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="matKhau" class="form-control" placeholder="Mật khẩu" required="required" ng-model="nguoiDung.PassWord">
                            <label for="matKhau">Mật khẩu</label>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>*@
                    <input class="btn btn-primary btn-block" type="submit" value="Đăng nhập" />
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/js/jquery.easing.min.js"></script>
    <!--add angularjs và controller-->
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/app/CarShopApp.js"></script>
    <script src="~/Scripts/app/Controller/Admin_LoginController.js"></script>
</body>
</html>
