@{
    ViewBag.Title = "Admin - Thêm nhà cung cấp";
}
<div ng-controller="Admin_NCC">
    <form novalidate name="f1" ng-submit="ThemNCC(NCC)">
        <span style="padding-left:40%; color:forestgreen; font-size:30px"><b>NHÀ CUNG CẤP</b></span>
        <hr />
        <div style="color:red">{{message}}</div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="text" id="tenNCC" class="form-control" placeholder="Tên nhà cung cấp" required="required" autofocus="autofocus" ng-model="NCC.TenNCC">
                        <label for="tenNCC">Tên nhà cung cấp</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="text" id="diaChi" class="form-control" placeholder="Địa chỉ nhà cung cấp" required="required" ng-model="NCC.DiaChi">
                        <label for="diaChi">Địa chỉ</label>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <input type="submit" style="margin-left:50%" class="btn btn-success" value="{{submitText}}" />
        </div>
    </form>
</div>

