@{
    ViewBag.Title = "About";
}
@*<link href="http://benthanhtoyota.com.vn/template/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://benthanhtoyota.com.vn/template/style/nivoslider.css" rel="stylesheet" type="text/css" />
    <link href="http://benthanhtoyota.com.vn/template/style/slimbox.css" rel="stylesheet" type="text/css" />
    <link href="http://benthanhtoyota.com.vn/template/style/global.css" rel="stylesheet" type="text/css" />*@

<style type="text/css">
    .middle {
        margin: 15px 15px 15px 15px;
    }

    h2 {
        font: 35px/20px Arial,Tahoma,sans-serif;
        color: #000;
    }

    h3 {
        font: 25px/20px Arial,Tahoma,sans-serif;
        color: #000;
    }
</style>

<div class="middle">
    <h2>GIỚI THIỆU LEO SHOP</h2>
    <p><em><strong>Leo Shop tọa lạc trên đại lộ Trần Hưng Đạo, nối liền chợ Bến Thành (Q1) và khu vực chợ lớn (Q5) có diện tích 6.000m2, với 600m2 phòng trưng bày các dòng xe thương hiệu Toyota và 5.400m2 &nbsp;xưởng dịch vụ, phục vụ nhu cầu sửa chữa và các dịch vụ khác cho khách hàng.</strong></em></p>
    <p>&nbsp;</p>
    <h3>LỊCH SỬ HÌNH THÀNH</h3>
    <p>Leo Shop là đại lý chính thức của Công ty ôtô Toyota Việt Nam (TMV) từ năm 1998 với chức năng kinh doanh xe ôtô và phụ tùng mang nhãn hiệu Toyota; sửa chữa, bảo hành và bảo dưỡng các loại xe ôtô.</p>
    <p>Với phương châm “Chất lượng - Phát triển - Bền vững”, Leo Shop luôn phấn đấu với mục đích phục vụ khách hàng càng ngày càng tốt hơn.</p>
    <p>Leo Shop được trang bị các máy móc hiện đại về chẩn đoán, đo lường chất lượng cao cấp để phục vụ khách hàng.</p>
    <p>Tháng 8 năm 2014, Leo Shop mở rộng mặt bằng thêm ở 326 Võ Văn Kiệt, Quận 1 để việc phục vụ khách hàng được thuận lợi và chu đáo hơn.</p>
    <p>&nbsp;</p>
    <h3>NHỮNG THÀNH TÍCH ĐẠT ĐƯỢC</h3>
    <p><strong><em>Leo Shop đã đạt được những thành tích sau các năm hoạt động như:</em></strong></p>
    <p><strong><em>&nbsp; &nbsp; Số lượng xe bán hơn 21.000 xe.</em></strong></p>
    <p><strong><em>&nbsp;&nbsp; &nbsp;Số lượng xe làm dịch vụ hơn 300.000 xe.</em></strong></p>
    <p><strong><em>&nbsp;&nbsp; &nbsp;Đại lý thành tích xuất sắc năm 2001.</em></strong></p>
    <p><strong><em>&nbsp;&nbsp; &nbsp;Đại lý thành tích xuất sắc năm 2003.</em></strong></p>
    <p><strong><em>&nbsp;&nbsp; &nbsp;Đại lý thành tích xuất sắc năm 2008.</em></strong></p>
    <p><strong><em>&nbsp;&nbsp; &nbsp;Đại lý thành tích xuất sắc năm 2012.</em></strong></p>
    <p><em>Đại lý xuất sắc năm 2013.</em></p>
    @*<p><img src="http://toyotabenthanh.com.vn/images/TinTuc/GiaiThuong/1.jpg" alt="">​</p>*@
    <p><em>Huân chương lao động hạng ba.</em></p>
</div>
